*{
  margin:0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
}

/* header  */
.wrap{
  width: 100%;
}
.top{
  width: 100%;
  height: 80px;
  background-color: black;
}

.sign_up{
  display: block;
  width: 1280px;
  background-color: black;

  font-size: 14px;
  text-align: right;
  color: white;
  padding-top: 8px;
}
.header{
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}
.logo{
  display: flex;
  margin-right: 145px;
  

  color: white;
}
.logo a{
  text-decoration: none;
  color: white;
}
.logo h1{
  font-weight: 700;
}
.nav{
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-bottom: 4px;
}
.nav a{
  text-decoration: none;
  color: white;
}
.nav a:hover{
  color: #D9D9D9;
}
.nav li{
  color: white;
  list-style: none;
  font-size: 18px;

}

/* HOTPLACE  */


.wrap1{
  background-color: white;
  margin-bottom: 88px;
}
.place{
  width: 1280px;
  margin-top:100px;
  margin-bottom: 80px;
  display: flex;
}
.img-text p:hover{
  background-color:white;
  color: black;
  transition: 0.3s;
}
.text{
  width: 250px;
  margin-right: 80px;
}
.text h2{
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.place_img:before{
  width: inherit;
  height: inherit;
  content:'';
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.place_img{
  height: 413px;
  width: 300px;
  background-image: url(https://i.postimg.cc/ZKZc62X1/DDP.jpg);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  margin-right: 32px;
}
.place_img a{
  text-decoration: none;
}
.place_img h3{
  color: white;
  z-index: 99;
}
.img-text{
  position: absolute;
  top: 16px;
  left: 16px;
}
.img-text h3{
  color:white;
}
.img-text p{
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 230px;
  color: white;
  background-color: black;
  border-radius: 25px;
  margin-top: 280px;
  margin-left: 21px;

}
.second{
  background-image: url(https://i.postimg.cc/CLNrxFXd/image.png);
  background-position: center center;
}
.last{
  margin-right: 0;
  background-image: url(https://i.postimg.cc/vmH4wv9c/K.jpg);
  background-position: bottom center;
}


.wrap2{
  width: 100%;
  background-color: #282828;
  height: 1370px;
}
.choice{
  width: 1280px;
  margin-top: 80px;
}
.choice p{
  display: inline;
  color: white;
  
}
.conA{
  margin-top: 40px;
  background-color: white;
  width: 1280px;
  height: 1144px;
  border-radius: 30px;

}
select{
  padding: 10px 15px;
  margin-top: 40px;
  appearance: none;
  font-size:30px;
  font-weight: 700;
  background-color: #282828;
  color: white;
  border: none;
}
.exhibition {
  width: 297px;
  margin-right: 30px;
  margin-left: 0;
}
.exhibition a{
  text-decoration: none;
  color: #121212;
}
.first_item{
  margin-left: 42px;
}
.now h3{
  padding-top: 32px;
  margin-left: 42px;
  padding-bottom: 16px;

  font-size: 24px;
}

.exhibition img{
  width: 100%;
  height: 361px;
}
.conB {
display: flex;
flex-wrap: nowrap;
justify-content: left;
}
.info{
  display: flex;
  justify-content: space-between;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 8px;

}
.info h3{
  margin-top: 4px;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.info p{
  margin:0;
  padding: 0;
  background-color: #D9D9D9;
  border-radius: 12px;
  width: 78px;
  text-align: center;
}
.info2{
  border-top: solid 1px #D9D9D9 ;
  padding-top: 4px;
}
.upcoming{
  margin-top: 56px;
}
footer{
  height: 160px;
  width: 100%;
  background-color: black;
}
.wrap4{
  width: 1280px;
 padding-top: 32px;
 display: flex;
}
.factors{

  width: 100%;
  display: flex;
  justify-content: space-between;
}
.factor1{
  margin-right: 225px;
}
.factor1 h3{
  color: white;
  font-size: 18px;
  margin-bottom: 4px;
}
.factor1 p{
  color: white;
}
.factor2 a{
  text-decoration: none;
  color: white;
}

.factor3 a{
  color: white;
  text-decoration: underline;
}
.factor4 a{
  color: white;
  text-decoration: none;
}
h4{
  color: white;
  margin-bottom: 4px;
}